device-instance*/**

**/alice/**
**/bob/**
**/charlie/**
**/dave/**
**/eve/**
**/*.swp
*.DS_Store
**/node_modules/
**/*.log
**/*.pem
**/*.key
**/*.srl
**/*.csr
**/*.crt
**/*.secret
iot-map-frontend/index.html
