**/*.swp
*.DS_Store
**/node_modules/
**/*.log
**/*.pem
**/*.key
**/*.srl
**/*.csr
**/*.crt
device-simulator/**/**.pem
device-simulator/**/**.csr
device-simulator/**/**.crt
device-simulator/**/**.cert
app-frontend/index.html
